@page
@model CarBookingApp.Pages.Shared._IndexDeleteFormPartialModel
@{
}


<form id="deleteForm" asp-page-handler="delete" method="post">
	  <input type="hidden" name="recordid" id="recordid" />
</form>