
@model int
@{
}

  <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@Model"><i class="fa-solid fa-pen-to-square"></i>
                     Edit  </a> 
  <a class="btn btn-info"asp-page="./Details" asp-route-id="@Model"><i class="fa-solid fa-car"></i>
                     Details  </a> 